<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/../../desktop/MontrealHomes/icons/home.ico">

    <title>Background image</title>

    <!-- Bootstrap core CSS -->
     <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    
    <link href="jumbotron.css" rel="stylesheet">
    
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <style>
        body{
          background-image: url('{% static 'img/Montreal.jpg' %}') ;
          background-size: cover;

          /* background-image: url('{% static 'img/Montreal.jpg' %}');*/
         }body
    </style>


    
  </head>

  <body>

  
  
  </body>
</html>
 